# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
*.snupkg

# Visual Studio cache/options
.vs/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
