<configuration>
    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/lib/xtdb/logs/xtdb.log</file> <!-- Logs will be written to this file -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Specific Logger Configuration -->
    <logger name="xtdb" level="DEBUG" />

    <!-- Useful for debugging drivers and providing detailed logs when reporting issues -->
    <!-- logger name="xtdb.pgwire" level="TRACE" /-->
</configuration>
