# Build directories
.gradle/
build/
target/
out/

# Gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IDE
.vscode/
.idea/
*.iml
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db
